<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--&lt;!&ndash;    <div class="collapse navbar-collapse" id="navbarSupportedContent">&ndash;&gt;-->
<!--&lt;!&ndash;        <ul class="navbar-nav mr-auto">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" routerLink="/home">Home <span class="sr-only"></span></a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" routerLink="/product">product</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" routerLink="/residence">residence</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" routerLink="/form">form</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" routerLink="/tv">tv</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" routerLink="/mobile">mobile</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->

<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" routerLink="/add">AddProduct</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->


<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link disabled" href="#">Disabled</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        <form class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</nav>-->
